# --------------------
# Laravel
# --------------------
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.idea/
/*.log
/.phpunit.result.cache
/.env
/.env.backup
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.phpunit.result.cache

# --------------------
# Docker
# --------------------
/docker-compose.override.yml
**/tmp/
**/cache/
**/*.pid
*.swp

# --------------------
# System / IDE
# --------------------
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
.vscode/
*.iml
*.lock

# --------------------
# Node / Vite / NPM
# --------------------
/public/build/